body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);;
  }
  
  .container {
    background-color: 
    yellow;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-section {
    margin-bottom: 20px;
  }
  
  input[type="date"], button {
    padding: 8px;
    margin-right: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .output-section, .live-time-section {
    margin-top: 20px;
  }
  
  h1, h2 {
    color: #333;
  }
  
  